---
import Hamburguesa from './Hamburguesa.astro';
import Navegacion from './Navegacion.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav>
        <Hamburguesa/>
        <ThemeIcon/>
        <Navegacion/>
    </nav>
</header>
